/* css codigo carrusel dos */

/* contenedor titulo y flechas */
.contenedor-title-btn-2{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.contenedor-title-btn-2 h3{
    color: #fff;
    font-size: 30px;
}

.contenedor-title-btn-2 .indicadores2 button{
    background: #fff;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}

.contenedor-title-btn-2 .indicadores2 button:hover,
.contenedor-title-btn-2 .indicadores2 button.activo2{
    background: #000099;
}

/* contenedor y flechas */
.libros-novedades2{
    padding: 30px;
    margin-bottom: 70px;
}

.libros-novedades2 .contenedor-principal2{
    display: flex;
    align-items: center;
    position: relative;  
}

.libros-novedades2 .contenedor-principal2 .flecha-izquierda2,
.libros-novedades2 .contenedor-principal2 .flecha-derecha2{
    position: absolute;
    border: none;
    background: rgba(0,0,0,0.3);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: #fff;
    z-index: 100;
    cursor: pointer;
    transition: .2s ease all;
}

.libros-novedades2 .contenedor-principal2 .flecha-izquierda2{
    left: 0;
}

.libros-novedades2 .contenedor-principal2 .flecha-derecha2{
    right: 0;
}

.libros-novedades2 .contenedor-principal2 .flecha-izquierda2:hover,
.libros-novedades2 .contenedor-principal2 .flecha-derecha2:hover{
    background: rgba(0,0,0,0.9);
}

/* carrusel */
.libros-novedades2 .contenedor-carrusel2{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.libros-novedades2 .contenedor-carrusel2 .carrusel2{
    display: flex;
    flex-wrap: nowrap;
}

.libros-novedades2 .contenedor-carrusel2 .carrusel2 .libro2{
    min-width: 20%;
    transition: all .3s ease;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.libros-novedades2 .contenedor-carrusel2 .carrusel2 .libro2{
    width: 100%;
    vertical-align: top;
}

.libros-novedades2 .contenedor-carrusel2 .carrusel2 .libro2:hover{
    transform: scale(1.2);
    border-radius: 10px;
    transform-origin: center;
}

.libro2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.libros-novedades2{
    margin: 20px 30px;
}



/* css codigo carrusel tres */

/* contenedor titulo y flechas */
.contenedor-title-btn-3{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.contenedor-title-btn-3 h3{
    color: #fff;
    font-size: 30px;
}

.contenedor-title-btn-3 .indicadores3 button{
    background: #fff;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}

.contenedor-title-btn-3 .indicadores3 button:hover,
.contenedor-title-btn-3 .indicadores3 button.activo3{
    background: #000099;
}

/* contenedor y flechas */
.libros-novedades3{
    padding: 30px;
    margin-bottom: 70px;
}

.libros-novedades3 .contenedor-principal3{
    display: flex;
    align-items: center;
    position: relative;  
}

.libros-novedades3 .contenedor-principal3 .flecha-izquierda3,
.libros-novedades3 .contenedor-principal3 .flecha-derecha3{
    position: absolute;
    border: none;
    background: rgba(0,0,0,0.3);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: #fff;
    z-index: 100;
    cursor: pointer;
    transition: .2s ease all;
}

.libros-novedades3 .contenedor-principal3 .flecha-izquierda3{
    left: 0;
}

.libros-novedades3 .contenedor-principal3 .flecha-derecha3{
    right: 0;
}

.libros-novedades3 .contenedor-principal3 .flecha-izquierda3:hover,
.libros-novedades3 .contenedor-principal3 .flecha-derecha3:hover{
    background: rgba(0,0,0,0.9);
}

/* carrusel */
.libros-novedades3 .contenedor-carrusel3{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.libros-novedades3 .contenedor-carrusel3 .carrusel3{
    display: flex;
    flex-wrap: nowrap;
}

.libros-novedades3 .contenedor-carrusel3 .carrusel3 .libro3{
    min-width: 20%;
    transition: all .3s ease;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.libros-novedades3 .contenedor-carrusel3 .carrusel3 .libro3{
    width: 100%;
    vertical-align: top;
}

.libros-novedades3 .contenedor-carrusel3 .carrusel3 .libro3:hover{
    transform: scale(1.2);
    border-radius: 10px;
    transform-origin: center;
}

.libro3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.libros-novedades3{
    margin: 20px 30px;
}


/* css codigo carrusel cuatro */

/* contenedor titulo y flechas */
.contenedor-title-btn-4{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.contenedor-title-btn-4 h3{
    color: #fff;
    font-size: 30px;
}

.contenedor-title-btn-4 .indicadores4 button{
    background: #fff;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}

.contenedor-title-btn-4 .indicadores4 button:hover,
.contenedor-title-btn-4 .indicadores4 button.activo4{
    background: #000099;
}

/* contenedor y flechas */
.libros-novedades4{
    padding: 30px;
    margin-bottom: 70px;
}

.libros-novedades4 .contenedor-principal4{
    display: flex;
    align-items: center;
    position: relative;  
}

.libros-novedades4 .contenedor-principal4 .flecha-izquierda4,
.libros-novedades4 .contenedor-principal4 .flecha-derecha4{
    position: absolute;
    border: none;
    background: rgba(0,0,0,0.3);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: #fff;
    z-index: 100;
    cursor: pointer;
    transition: .2s ease all;
}

.libros-novedades4 .contenedor-principal4 .flecha-izquierda4{
    left: 0;
}

.libros-novedades4 .contenedor-principal4 .flecha-derecha4{
    right: 0;
}

.libros-novedades4 .contenedor-principal4 .flecha-izquierda4:hover,
.libros-novedades4 .contenedor-principal4 .flecha-derecha4:hover{
    background: rgba(0,0,0,0.9);
}

/* carrusel */
.libros-novedades4 .contenedor-carrusel4{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.libros-novedades4 .contenedor-carrusel4 .carrusel4{
    display: flex;
    flex-wrap: nowrap;
}

.libros-novedades4 .contenedor-carrusel4 .carrusel4 .libro4{
    min-width: 20%;
    transition: all .3s ease;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.libros-novedades4 .contenedor-carrusel4 .carrusel4 .libro4{
    width: 100%;
    vertical-align: top;
}

.libros-novedades4 .contenedor-carrusel4 .carrusel4 .libro4:hover{
    transform: scale(1.2);
    border-radius: 10px;
    transform-origin: center;
}

.libro4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.libros-novedades4{
    margin: 20px 30px;
}




/* css codigo carrusel cinco */

/* contenedor titulo y flechas */
.contenedor-title-btn-5{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.contenedor-title-btn-5 h3{
    color: #fff;
    font-size: 30px;
}

.contenedor-title-btn-5 .indicadores5 button{
    background: #fff;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}

.contenedor-title-btn-5 .indicadores5 button:hover,
.contenedor-title-btn-5 .indicadores5 button.activo5{
    background: #000099;
}

/* contenedor y flechas */
.libros-novedades5{
    padding: 30px;
    margin-bottom: 70px;
}

.libros-novedades5 .contenedor-principal5{
    display: flex;
    align-items: center;
    position: relative;  
}

.libros-novedades5 .contenedor-principal5 .flecha-izquierda5,
.libros-novedades5 .contenedor-principal5 .flecha-derecha5{
    position: absolute;
    border: none;
    background: rgba(0,0,0,0.3);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: #fff;
    z-index: 100;
    cursor: pointer;
    transition: .2s ease all;
}

.libros-novedades5 .contenedor-principal5 .flecha-izquierda5{
    left: 0;
}

.libros-novedades5 .contenedor-principal5 .flecha-derecha5{
    right: 0;
}

.libros-novedades5 .contenedor-principal5 .flecha-izquierda5:hover,
.libros-novedades5 .contenedor-principal5 .flecha-derecha5:hover{
    background: rgba(0,0,0,0.9);
}

/* carrusel */
.libros-novedades5 .contenedor-carrusel5{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.libros-novedades5 .contenedor-carrusel5 .carrusel5{
    display: flex;
    flex-wrap: nowrap;
}

.libros-novedades5 .contenedor-carrusel5 .carrusel5 .libro5{
    min-width: 20%;
    transition: all .3s ease;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.libros-novedades5 .contenedor-carrusel5 .carrusel5 .libro5{
    width: 100%;
    vertical-align: top;
}

.libros-novedades5 .contenedor-carrusel5 .carrusel5 .libro5:hover{
    transform: scale(1.2);
    border-radius: 10px;
    transform-origin: center;
}

.libro5 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.libros-novedades5{
    margin: 20px 30px;
}


@media only screen and (max-width:700px){
    h4{
        font-size: 1em;
    }
}